In [1]:
import pandas as pd
import json

In [2]:
DELAYS = ['CARRIER_DELAY', 'WEATHER_DELAY', 'NAS_DELAY', 'SECURITY_DELAY', 'LATE_AIRCRAFT_DELAY']
DATES = ['YEAR', 'MONTH', 'DAY_OF_MONTH']
AIRLINE = 'AIRLINE_NAME'
ORIGIN = ['ORIGIN_AIRPORT_NAME', 'ORIGIN_STATE_ABR', 'ORIGIN_STATE_NM']
DEST = ['DEST_AIRPORT_NAME', 'DEST_STATE_ABR', 'DEST_STATE_NM']
DEPART = ['CRS_DEP_TIME', 'DEP_TIME', 'DEP_DELAY_NEW', 'TAXI_OUT', 'WHEELS_OFF']
ARRIVAL = ['CRS_ARR_TIME', 'ARR_TIME', 'ARR_DELAY_NEW', 'TAXI_IN', 'WHEELS_ON']
FLIGHT = ['CRS_ELAPSED_TIME', 'ACTUAL_ELAPSED_TIME', 'AIR_TIME', 'DISTANCE']

In [3]:
df = pd.read_csv('/Users/ykamoji/Documents/Semester4/COMPSCI_571/Project/Data/airlines_delay_data_v2.csv')

## Sanity Check

In [4]:
df.head(5)

,ID,YEAR,MONTH,DAY_OF_MONTH,AIRLINE_NAME,ORIGIN_AIRPORT_NAME,ORIGIN_STATE_ABR,ORIGIN_STATE_NM,DEST_AIRPORT_NAME,DEST_STATE_ABR,...,WHEELS_ON,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
0,0,2023,12,1,Endeavor Air Inc.,"Atlanta, GA: Hartsfield-Jackson Atlanta Intern...",GA,Georgia,"Lafayette, LA: Lafayette Regional Paul Fournet...",LA,...,1704,106.0,106.0,86.0,503.0,30,0,0,0,0
1,1,2023,12,1,Endeavor Air Inc.,"Atlanta, GA: Hartsfield-Jackson Atlanta Intern...",GA,Georgia,"Moline, IL: Quad Cities International",IL,...,1648,119.0,115.0,94.0,633.0,28,0,0,0,0
2,2,2023,12,1,Endeavor Air Inc.,"Atlanta, GA: Hartsfield-Jackson Atlanta Intern...",GA,Georgia,"Roanoke, VA: Roanoke Blacksburg Regional",VA,...,1927,91.0,74.0,49.0,357.0,17,0,0,0,0
3,3,2023,12,1,Endeavor Air Inc.,"Austin, TX: Austin - Bergstrom International",TX,Texas,"Raleigh/Durham, NC: Raleigh-Durham International",NC,...,1658,170.0,151.0,133.0,1162.0,0,0,0,0,202
4,4,2023,12,1,Endeavor Air Inc.,"Buffalo, NY: Buffalo Niagara International",NY,New York,"New York, NY: John F. Kennedy International",NY,...,1236,100.0,93.0,66.0,301.0,0,0,0,0,37

In [33]:
df[DELAYS].isnull().sum()

CARRIER_DELAY          0
WEATHER_DELAY          0
NAS_DELAY              0
SECURITY_DELAY         0
LATE_AIRCRAFT_DELAY    0
dtype: int64

In [34]:
df[DATES].isnull().sum()

YEAR            0
MONTH           0
DAY_OF_MONTH    0
dtype: int64

In [35]:
df[AIRLINE].isnull().sum()

0

In [36]:
df[ORIGIN].isnull().sum()

ORIGIN_AIRPORT_NAME    0
ORIGIN_STATE_ABR       0
ORIGIN_STATE_NM        0
dtype: int64

In [37]:
df[DEST].isnull().sum()

DEST_AIRPORT_NAME    0
DEST_STATE_ABR       0
DEST_STATE_NM        0
dtype: int64

In [38]:
df[DEPART].isnull().sum()

CRS_DEP_TIME     0
DEP_TIME         0
DEP_DELAY_NEW    0
TAXI_OUT         0
WHEELS_OFF       0
dtype: int64

In [39]:
df[ARRIVAL].isnull().sum()

CRS_ARR_TIME     0
ARR_TIME         0
ARR_DELAY_NEW    0
TAXI_IN          0
WHEELS_ON        0
dtype: int64

In [40]:
df[FLIGHT].isnull().sum()

CRS_ELAPSED_TIME       0
ACTUAL_ELAPSED_TIME    0
AIR_TIME               0
DISTANCE               0
dtype: int64

### Geo map calculations

In [41]:
df[['ORIGIN_STATE_ABR']+DELAYS].groupby('ORIGIN_STATE_ABR')[DELAYS].agg(['sum','count']).head(5)

                 CARRIER_DELAY         WEATHER_DELAY         NAS_DELAY  \
                           sum   count           sum   count       sum
ORIGIN_STATE_ABR
AK                      153735    7418         26436    7418     60724
AL                      199712    7249         54443    7249     83725
AR                      155461    5947         53852    5947     79173
AZ                     1004549   40941         77917   40941    393784
CA                     2999951  140027        301601  140027   1869959

                         SECURITY_DELAY         LATE_AIRCRAFT_DELAY
                   count            sum   count                 sum   count
ORIGIN_STATE_ABR
AK                  7418           4676    7418              195206    7418
AL                  7249            595    7249              242963    7249
AR                  5947           1049    5947              189425    5947
AZ                 40941           4131   40941             1131757   40941
CA                140027          14022  140027             3942297  140027

In [42]:
df[['DEST_STATE_ABR'] + DELAYS].groupby('DEST_STATE_ABR')[DELAYS].agg(['sum', 'count']).head(10)

               CARRIER_DELAY         WEATHER_DELAY         NAS_DELAY          \
                         sum   count           sum   count       sum   count
DEST_STATE_ABR
AK                    142745    8963         28006    8963     81133    8963
AL                    188423    7838         40934    7838     74514    7838
AR                    140563    6362         32210    6362     67612    6362
AZ                   1193099   41446        146952   41446    334824   41446
CA                   3193113  157021        431936  157021   2234339  157021
CO                   1618022   65313        295753   65313    843093   65313
CT                    135835    5329         15195    5329     50171    5329
FL                   3439484  145196        443151  145196   2584317  145196
GA                   1945688   62092        276166   62092    767336   62092
HI                    441562   18557         21040   18557    117689   18557

               SECURITY_DELAY         LATE_AIRCRAFT_DELAY
                          sum   count                 sum   count
DEST_STATE_ABR
AK                       4874    8963              194500    8963
AL                        857    7838              223396    7838
AR                        596    6362              183659    6362
AZ                       6995   41446             1340082   41446
CA                      20179  157021             3767677  157021
CO                       5729   65313             1918849   65313
CT                        459    5329              151518    5329
FL                      20416  145196             4293278  145196
GA                       7348   62092             1774742   62092
HI                       2350   18557              336069   18557

In [43]:
df[df['CARRIER_DELAY'] == df['CARRIER_DELAY'].max()]

,ID,YEAR,MONTH,DAY_OF_MONTH,AIRLINE_NAME,ORIGIN_AIRPORT_NAME,ORIGIN_STATE_ABR,ORIGIN_STATE_NM,DEST_AIRPORT_NAME,DEST_STATE_ABR,...,WHEELS_ON,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
51133,51133,2023,12,20,American Airlines Inc.,"Charleston, SC: Charleston AFB/International",SC,South Carolina,"Charlotte, NC: Charlotte Douglas International",NC,...,2124,67.0,76.0,42.0,168.0,3786,0,9,0,0

In [44]:
df.loc[df.groupby('ORIGIN_STATE_ABR')['LATE_AIRCRAFT_DELAY'].idxmax()].head(5)

,ID,YEAR,MONTH,DAY_OF_MONTH,AIRLINE_NAME,ORIGIN_AIRPORT_NAME,ORIGIN_STATE_ABR,ORIGIN_STATE_NM,DEST_AIRPORT_NAME,DEST_STATE_ABR,...,WHEELS_ON,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
1170239,1170239,2024,8,18,United Air Lines Inc.,"Anchorage, AK: Ted Stevens Anchorage Internati...",AK,Alaska,"Newark, NJ: Newark Liberty International",NJ,...,7,416.0,415.0,392.0,3370.0,43,0,0,0,965
1159472,1159472,2024,8,16,PSA Airlines Inc.,"Birmingham, AL: Birmingham-Shuttlesworth Inter...",AL,Alabama,"Philadelphia, PA: Philadelphia International",PA,...,1703,138.0,128.0,107.0,772.0,9,0,0,0,1457
258578,258578,2024,2,11,SkyWest Airlines Inc.,"Little Rock, AR: Bill and Hillary Clinton Nat ...",AR,Arkansas,"Chicago, IL: Chicago O'Hare International",IL,...,925,121.0,112.0,80.0,552.0,0,0,0,0,1206
871041,871041,2024,6,29,American Airlines Inc.,"Phoenix, AZ: Phoenix Sky Harbor International",AZ,Arizona,"Columbus, OH: John Glenn Columbus International",OH,...,2339,222.0,214.0,194.0,1670.0,23,0,0,0,1456
418605,418605,2024,3,26,American Airlines Inc.,"Los Angeles, CA: Los Angeles International",CA,California,"Dallas/Fort Worth, TX: Dallas/Fort Worth Inter...",TX,...,201,178.0,165.0,141.0,1235.0,121,0,0,0,2506

In [45]:
df.loc[df.groupby('DEST_STATE_ABR')['CARRIER_DELAY'].idxmax()].head(5)

,ID,YEAR,MONTH,DAY_OF_MONTH,AIRLINE_NAME,ORIGIN_AIRPORT_NAME,ORIGIN_STATE_ABR,ORIGIN_STATE_NM,DEST_AIRPORT_NAME,DEST_STATE_ABR,...,WHEELS_ON,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
36596,36596,2023,12,15,Delta Air Lines Inc.,"Minneapolis, MN: Minneapolis-St Paul Internati...",MN,Minnesota,"Anchorage, AK: Ted Stevens Anchorage Internati...",AK,...,1209,379.0,379.0,353.0,2519.0,1012,0,0,0,0
920338,920338,2024,7,9,SkyWest Airlines Inc.,"Atlanta, GA: Hartsfield-Jackson Atlanta Intern...",GA,Georgia,"Dothan, AL: Dothan Regional",AL,...,1301,61.0,53.0,33.0,170.0,967,0,0,0,0
494273,494273,2024,4,12,Mesa Airlines Inc.,"Denver, CO: Denver International",CO,Colorado,"Little Rock, AR: Bill and Hillary Clinton Nat ...",AR,...,1036,128.0,119.0,94.0,771.0,1089,0,0,0,0
471469,471469,2024,4,8,American Airlines Inc.,"San Diego, CA: San Diego International",CA,California,"Phoenix, AZ: Phoenix Sky Harbor International",AZ,...,2151,84.0,90.0,56.0,304.0,3300,0,6,0,48
663626,663626,2024,5,21,American Airlines Inc.,"San Francisco, CA: San Francisco International",CA,California,"Los Angeles, CA: Los Angeles International",CA,...,1833,88.0,88.0,58.0,337.0,2043,0,0,0,0

In [46]:
print(set(df['ORIGIN_STATE_NM'].unique()) == set(df['DEST_STATE_NM'].unique()))
df['ORIGIN_STATE_NM'].unique()

True

array(['Georgia', 'Texas', 'New York', 'Maryland', 'South Carolina',
       'North Carolina', 'Kentucky', 'Iowa', 'New Jersey', 'Minnesota',
       'Virginia', 'Missouri', 'New Mexico', 'Connecticut', 'California',
       'Alabama', 'Tennessee', 'Massachusetts', 'Ohio', 'Colorado',
       'Michigan', 'Florida', 'Oregon', 'Washington', 'Indiana',
       'Wyoming', 'Nevada', 'Pennsylvania', 'Wisconsin', 'Louisiana',
       'Nebraska', 'Illinois', 'Arizona', 'Rhode Island', 'Puerto Rico',
       'Utah', 'U.S. Virgin Islands', 'Oklahoma', 'Alaska', 'Idaho',
       'Hawaii', 'Vermont', 'Mississippi', 'Arkansas', 'Montana',
       'Kansas', 'Maine', 'West Virginia', 'New Hampshire',
       'South Dakota', 'North Dakota',
       'U.S. Pacific Trust Territories and Possessions'], dtype=object)

In [47]:
states = set(["Alabama", "Alaska", "Arizona", "Arkansas", "California", "Colorado", "Connecticut", "Delaware",
    "Florida", "Georgia", "Hawaii", "Idaho", "Illinois", "Indiana", "Iowa", "Kansas", "Kentucky", "Louisiana",
    "Maine", "Maryland", "Massachusetts", "Michigan", "Minnesota", "Mississippi", "Missouri", "Montana",
    "Nebraska", "Nevada", "New Hampshire", "New Jersey", "New Mexico", "New York", "North Carolina",
    "North Dakota", "Ohio", "Oklahoma", "Oregon", "Pennsylvania", "Rhode Island", "South Carolina",
    "South Dakota", "Tennessee", "Texas", "Utah", "Vermont", "Virginia", "Washington", "West Virginia",
    "Wisconsin", "Wyoming"])

In [48]:
data_states = set(df['ORIGIN_STATE_NM'].unique())
print(states.difference(data_states))
print(data_states.difference(states))
# data_states

{'Delaware'}
{'Puerto Rico', 'U.S. Virgin Islands', 'U.S. Pacific Trust Territories and Possessions'}

In [49]:
origin_airports = set(df['ORIGIN_AIRPORT_NAME'].unique())
# origin_airports
# dest_airports = set(df['DEST_AIRPORT_NAME'].unique())
# print(origin_airports.difference(dest_airports))
# print(dest_airports.difference(origin_airports))

In [50]:
airlines = set(df[AIRLINE].unique())
# airlines

In [ ]:
print((df['ORIGIN_AIRPORT_NAME'].str.split(':', expand=True)[0] != df['ORIGIN_CITY_NAME']).sum())
print((df['DEST_AIRPORT_NAME'].str.split(':', expand=True)[0] != df['DEST_CITY_NAME']).sum())

In [51]:
print((df['ORIGIN_AIRPORT_NAME'].str.split(':', expand=True)[0].str.split(', ', expand=True)[1] != df['ORIGIN_STATE_ABR']).sum())
print((df['DEST_AIRPORT_NAME'].str.split(':', expand=True)[0].str.split(', ', expand=True)[1] != df['DEST_STATE_ABR']).sum())

48090
48941

In [4]:
df['DATE'] = pd.to_datetime(df[DATES].astype(str).agg('-'.join, axis=1))
df['IS_WEEKDAY'] = pd.to_datetime(df['DATE']).dt.weekday < 5
# df[DATES+['DATE', 'IS_WEEKDAY']]

In [5]:
condensed_origin_df = df[['MONTH', 'ORIGIN_STATE_ABR','ORIGIN_AIRPORT_NAME','AIRLINE_NAME', 'IS_WEEKDAY']+DELAYS]
condensed_origin_df.columns = list(map(str, range(10)))
condensed_origin_df = condensed_origin_df.groupby(list(map(str, range(5))))[list(map(str, range(5, 10)))].agg(['sum'])
condensed_origin_df.columns = condensed_origin_df.columns.get_level_values(0)
condensed_origin_df

                                                                                          5  \
0  1  2                                                  3                      4
1  AK Adak Island, AK: Adak                              Alaska Airlines Inc.   False     0
                                                                                True      0
      Anchorage, AK: Ted Stevens Anchorage International Alaska Airlines Inc.   False  1022
                                                                                True   4054
                                                         American Airlines Inc. False     6
...                                                                                     ...
12 WY Riverton/Lander, WY: Central Wyoming Regional      SkyWest Airlines Inc.  True    548
      Rock Springs, WY: Southwest Wyoming Regional       SkyWest Airlines Inc.  False     0
                                                                                True    546
      Sheridan, WY: Sheridan County                      SkyWest Airlines Inc.  False   284
                                                                                True     24

                                                                                          6  \
0  1  2                                                  3                      4
1  AK Adak Island, AK: Adak                              Alaska Airlines Inc.   False     0
                                                                                True      0
      Anchorage, AK: Ted Stevens Anchorage International Alaska Airlines Inc.   False   317
                                                                                True   1204
                                                         American Airlines Inc. False     0
...                                                                                     ...
12 WY Riverton/Lander, WY: Central Wyoming Regional      SkyWest Airlines Inc.  True      0
      Rock Springs, WY: Southwest Wyoming Regional       SkyWest Airlines Inc.  False     0
                                                                                True      0
      Sheridan, WY: Sheridan County                      SkyWest Airlines Inc.  False     0
                                                                                True     39

                                                                                          7  \
0  1  2                                                  3                      4
1  AK Adak Island, AK: Adak                              Alaska Airlines Inc.   False     5
                                                                                True     20
      Anchorage, AK: Ted Stevens Anchorage International Alaska Airlines Inc.   False   663
                                                                                True   2264
                                                         American Airlines Inc. False    72
...                                                                                     ...
12 WY Riverton/Lander, WY: Central Wyoming Regional      SkyWest Airlines Inc.  True     29
      Rock Springs, WY: Southwest Wyoming Regional       SkyWest Airlines Inc.  False    60
                                                                                True      0
      Sheridan, WY: Sheridan County                      SkyWest Airlines Inc.  False    26
                                                                                True     26

                                                                                        8  \
0  1  2                                                  3                      4
1  AK Adak Island, AK: Adak                              Alaska Airlines Inc.   False  31
                                                                                True   28
      Anchorage, AK: Ted Stevens Anchorage International Alaska Airlines Inc.   False   0
                                                                                True    0
                                                         American Airlines Inc. False   0
...                                                                                    ..
12 WY Riverton/Lander, WY: Central Wyoming Regional      SkyWest Airlines Inc.  True    0
      Rock Springs, WY: Southwest Wyoming Regional       SkyWest Airlines Inc.  False   0
                                                                                True    0
      Sheridan, WY: Sheridan County                      SkyWest Airlines Inc.  False   0
                                                                                True    0

                                                                                          9
0  1  2                                                  3                      4
1  AK Adak Island, AK: Adak                              Alaska Airlines Inc.   False     0
                                                                                True      0
      Anchorage, AK: Ted Stevens Anchorage International Alaska Airlines Inc.   False  1763
                                                                                True   4315
                                                         American Airlines Inc. False     0
...                                                                                     ...
12 WY Riverton/Lander, WY: Central Wyoming Regional      SkyWest Airlines Inc.  True    821
      Rock Springs, WY: Southwest Wyoming Regional       SkyWest Airlines Inc.  False    20
                                                                                True      0
      Sheridan, WY: Sheridan County                      SkyWest Airlines Inc.  False   240
                                                                                True    592

[41175 rows x 5 columns]

In [6]:
df[(df['ORIGIN_STATE_ABR'] == 'AK') & (df['ORIGIN_AIRPORT_NAME'] == 'Anchorage, AK: Ted Stevens Anchorage International') & (df['AIRLINE_NAME'] == 'Delta Air Lines Inc.') & (df['MONTH'] == 1) & (df['IS_WEEKDAY'] == False)]

,ID,YEAR,MONTH,DAY_OF_MONTH,AIRLINE_NAME,ORIGIN_AIRPORT_NAME,ORIGIN_STATE_ABR,ORIGIN_STATE_NM,DEST_AIRPORT_NAME,DEST_STATE_ABR,...,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,DATE,IS_WEEKDAY
158070,158070,2024,1,14,Delta Air Lines Inc.,"Anchorage, AK: Ted Stevens Anchorage Internati...",AK,Alaska,"Seattle, WA: Seattle/Tacoma International",WA,...,198.0,166.0,1448.0,0,0,0,0,51,2024-01-14,False
158151,158151,2024,1,14,Delta Air Lines Inc.,"Anchorage, AK: Ted Stevens Anchorage Internati...",AK,Alaska,"Seattle, WA: Seattle/Tacoma International",WA,...,234.0,163.0,1448.0,3,0,13,0,88,2024-01-14,False
195923,195923,2024,1,21,Delta Air Lines Inc.,"Anchorage, AK: Ted Stevens Anchorage Internati...",AK,Alaska,"Minneapolis, MN: Minneapolis-St Paul Internati...",MN,...,301.0,281.0,2519.0,62,0,0,0,0,2024-01-21,False
222159,222159,2024,1,28,Delta Air Lines Inc.,"Anchorage, AK: Ted Stevens Anchorage Internati...",AK,Alaska,"Minneapolis, MN: Minneapolis-St Paul Internati...",MN,...,347.0,282.0,2519.0,0,0,21,0,0,2024-01-28,False
222778,222778,2024,1,28,Delta Air Lines Inc.,"Anchorage, AK: Ted Stevens Anchorage Internati...",AK,Alaska,"Seattle, WA: Seattle/Tacoma International",WA,...,240.0,194.0,1448.0,9,0,20,0,0,2024-01-28,False
222802,222802,2024,1,28,Delta Air Lines Inc.,"Anchorage, AK: Ted Stevens Anchorage Internati...",AK,Alaska,"Seattle, WA: Seattle/Tacoma International",WA,...,273.0,202.0,1448.0,0,0,51,0,0,2024-01-28,False

In [7]:
# condensed_origin_df.to_json('assets/origin_summerized.json', orient='table')

In [6]:
condensed_dest_df = df[['MONTH', 'DEST_STATE_ABR','DEST_AIRPORT_NAME','AIRLINE_NAME', 'IS_WEEKDAY']+DELAYS]
condensed_dest_df.columns = list(map(str, range(10)))
condensed_dest_df = condensed_dest_df.groupby(list(map(str, range(5))))[list(map(str, range(5, 10)))].agg(['sum'])
condensed_dest_df.columns = condensed_dest_df.columns.get_level_values(0)
condensed_dest_df

                                                                                         5  \
0  1  2                                                  3                     4
1  AK Adak Island, AK: Adak                              Alaska Airlines Inc.  True      0
      Anchorage, AK: Ted Stevens Anchorage International Alaska Airlines Inc.  False  2074
                                                                               True   3652
                                                         Delta Air Lines Inc.  False   346
                                                                               True   1140
...                                                                                    ...
12 WY Riverton/Lander, WY: Central Wyoming Regional      SkyWest Airlines Inc. True    677
      Rock Springs, WY: Southwest Wyoming Regional       SkyWest Airlines Inc. False    68
                                                                               True    189
      Sheridan, WY: Sheridan County                      SkyWest Airlines Inc. False     6
                                                                               True    162

                                                                                        6  \
0  1  2                                                  3                     4
1  AK Adak Island, AK: Adak                              Alaska Airlines Inc.  True     0
      Anchorage, AK: Ted Stevens Anchorage International Alaska Airlines Inc.  False  192
                                                                               True   635
                                                         Delta Air Lines Inc.  False    0
                                                                               True     9
...                                                                                   ...
12 WY Riverton/Lander, WY: Central Wyoming Regional      SkyWest Airlines Inc. True     0
      Rock Springs, WY: Southwest Wyoming Regional       SkyWest Airlines Inc. False    0
                                                                               True     0
      Sheridan, WY: Sheridan County                      SkyWest Airlines Inc. False    0
                                                                               True     0

                                                                                         7  \
0  1  2                                                  3                     4
1  AK Adak Island, AK: Adak                              Alaska Airlines Inc.  True      0
      Anchorage, AK: Ted Stevens Anchorage International Alaska Airlines Inc.  False  1002
                                                                               True   1691
                                                         Delta Air Lines Inc.  False    36
                                                                               True    268
...                                                                                    ...
12 WY Riverton/Lander, WY: Central Wyoming Regional      SkyWest Airlines Inc. True     33
      Rock Springs, WY: Southwest Wyoming Regional       SkyWest Airlines Inc. False     0
                                                                               True      8
      Sheridan, WY: Sheridan County                      SkyWest Airlines Inc. False     9
                                                                               True     26

                                                                                        8  \
0  1  2                                                  3                     4
1  AK Adak Island, AK: Adak                              Alaska Airlines Inc.  True     0
      Anchorage, AK: Ted Stevens Anchorage International Alaska Airlines Inc.  False   53
                                                                               True   327
                                                         Delta Air Lines Inc.  False    0
                                                                               True     0
...                                                                                   ...
12 WY Riverton/Lander, WY: Central Wyoming Regional      SkyWest Airlines Inc. True     0
      Rock Springs, WY: Southwest Wyoming Regional       SkyWest Airlines Inc. False    0
                                                                               True     0
      Sheridan, WY: Sheridan County                      SkyWest Airlines Inc. False    0
                                                                               True     0

                                                                                         9
0  1  2                                                  3                     4
1  AK Adak Island, AK: Adak                              Alaska Airlines Inc.  True     26
      Anchorage, AK: Ted Stevens Anchorage International Alaska Airlines Inc.  False  4079
                                                                               True   6683
                                                         Delta Air Lines Inc.  False    86
                                                                               True    247
...                                                                                    ...
12 WY Riverton/Lander, WY: Central Wyoming Regional      SkyWest Airlines Inc. True      0
      Rock Springs, WY: Southwest Wyoming Regional       SkyWest Airlines Inc. False     0
                                                                               True    103
      Sheridan, WY: Sheridan County                      SkyWest Airlines Inc. False     0
                                                                               True   1019

[41037 rows x 5 columns]

In [9]:
# condensed_dest_df.to_json('assets/dest_summerized.json', orient='table')

In [7]:
with open('assets/origin_summerized.json', 'r') as file:
    origin_data = json.load(file)

with open('assets/dest_summerized.json', 'r') as file:
    dest_data = json.load(file)

In [18]:
summerized_data = {"origin": origin_data["data"], "dest": dest_data["data"]}

In [20]:
with open('assets/all_summerized.json', 'w') as file:
    json.dump(summerized_data, file)

In [21]:
with open('assets/all_summerized.json', 'r') as file:
    all_data = json.load(file)

In [30]:
print(len(all_data['origin']), len(origin_data['data']))
print(all_data['origin'] == origin_data["data"])

41175 41175
True

In [31]:
print(len(all_data['dest']), len(dest_data['data']))
print(all_data['dest'] == dest_data["data"])

41037 41037
True