In [1]:
import pandas as pd
import json

In [2]:
DELAYS = ['CARRIER_DELAY', 'WEATHER_DELAY', 'NAS_DELAY', 'SECURITY_DELAY', 'LATE_AIRCRAFT_DELAY']
DATES = ['YEAR', 'MONTH', 'DAY_OF_MONTH']
AIRLINE = 'AIRLINE_NAME'
ORIGIN = ['ORIGIN_AIRPORT_NAME', 'ORIGIN_STATE_ABR', 'ORIGIN_STATE_NM']
DEST = ['DEST_AIRPORT_NAME', 'DEST_STATE_ABR', 'DEST_STATE_NM']
DEPART = ['CRS_DEP_TIME', 'DEP_TIME', 'DEP_DELAY_NEW', 'TAXI_OUT', 'WHEELS_OFF']
ARRIVAL = ['CRS_ARR_TIME', 'ARR_TIME', 'ARR_DELAY_NEW', 'TAXI_IN', 'WHEELS_ON']
FLIGHT = ['CRS_ELAPSED_TIME', 'ACTUAL_ELAPSED_TIME', 'AIR_TIME', 'DISTANCE']

In [3]:
df = pd.read_csv('/Users/ykamoji/Documents/Semester4/COMPSCI_571/Project/Data/airlines_delay_data_v3.csv')

## Sanity Check

In [4]:
df.head(5)

,ID,YEAR,MONTH,DAY_OF_MONTH,AIRLINE_NAME,ORIGIN_AIRPORT_NAME,ORIGIN_STATE_ABR,ORIGIN_STATE_NM,DEST_AIRPORT_NAME,DEST_STATE_ABR,...,WHEELS_ON,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
0,0,2023,1,1,Endeavor Air Inc.,"Alexandria, LA: Alexandria International",LA,Louisiana,"Atlanta, GA: Hartsfield-Jackson Atlanta Intern...",GA,...,2132,103.0,105.0,73.0,500.0,0,83,2,0,342
1,1,2023,1,1,Endeavor Air Inc.,"Alexandria, LA: Alexandria International",LA,Louisiana,"Atlanta, GA: Hartsfield-Jackson Atlanta Intern...",GA,...,2144,109.0,90.0,75.0,500.0,11,0,0,0,61
2,2,2023,1,1,Endeavor Air Inc.,"Albany, NY: Albany International",NY,New York,"Detroit, MI: Detroit Metro Wayne County",MI,...,1233,130.0,111.0,82.0,489.0,0,0,0,0,288
3,3,2023,1,1,Endeavor Air Inc.,"Atlanta, GA: Hartsfield-Jackson Atlanta Intern...",GA,Georgia,"Alexandria, LA: Alexandria International",LA,...,1821,108.0,115.0,82.0,500.0,61,0,7,0,9
4,4,2023,1,1,Endeavor Air Inc.,"Atlanta, GA: Hartsfield-Jackson Atlanta Intern...",GA,Georgia,"Brunswick, GA: Brunswick Golden Isles",GA,...,1526,72.0,53.0,41.0,238.0,12,0,0,0,305

In [5]:
df[DELAYS].isnull().sum()

CARRIER_DELAY          0
WEATHER_DELAY          0
NAS_DELAY              0
SECURITY_DELAY         0
LATE_AIRCRAFT_DELAY    0
dtype: int64

In [6]:
df[DATES].isnull().sum()

YEAR            0
MONTH           0
DAY_OF_MONTH    0
dtype: int64

In [7]:
df[AIRLINE].isnull().sum()

0

In [8]:
df[ORIGIN].isnull().sum()

ORIGIN_AIRPORT_NAME    0
ORIGIN_STATE_ABR       0
ORIGIN_STATE_NM        0
dtype: int64

In [9]:
df[DEST].isnull().sum()

DEST_AIRPORT_NAME    0
DEST_STATE_ABR       0
DEST_STATE_NM        0
dtype: int64

In [10]:
df[DEPART].isnull().sum()

CRS_DEP_TIME     0
DEP_TIME         0
DEP_DELAY_NEW    0
TAXI_OUT         0
WHEELS_OFF       0
dtype: int64

In [39]:
df[ARRIVAL].isnull().sum()

CRS_ARR_TIME     0
ARR_TIME         0
ARR_DELAY_NEW    0
TAXI_IN          0
WHEELS_ON        0
dtype: int64

In [40]:
df[FLIGHT].isnull().sum()

CRS_ELAPSED_TIME       0
ACTUAL_ELAPSED_TIME    0
AIR_TIME               0
DISTANCE               0
dtype: int64

### Geo map calculations

In [11]:
df[['ORIGIN_STATE_ABR']+DELAYS].groupby('ORIGIN_STATE_ABR')[DELAYS].agg(['sum','count']).head(5)

                 CARRIER_DELAY         WEATHER_DELAY         NAS_DELAY  \
                           sum   count           sum   count       sum
ORIGIN_STATE_ABR
AK                      277907   13951         50519   13951    119573
AL                      379078   13203         86409   13203    149752
AR                      296483   10916         93464   10916    141951
AZ                     1853200   75635        137596   75635    684412
CA                     5930257  268940        508845  268940   3272294

                         SECURITY_DELAY         LATE_AIRCRAFT_DELAY
                   count            sum   count                 sum   count
ORIGIN_STATE_ABR
AK                 13951          10546   13951              367078   13951
AL                 13203           1070   13203              451700   13203
AR                 10916           1490   10916              365286   10916
AZ                 75635           7926   75635             2221281   75635
CA                268940          27040  268940             7629755  268940

In [12]:
df[['DEST_STATE_ABR'] + DELAYS].groupby('DEST_STATE_ABR')[DELAYS].agg(['sum', 'count']).head(10)

               CARRIER_DELAY         WEATHER_DELAY         NAS_DELAY          \
                         sum   count           sum   count       sum   count
DEST_STATE_ABR
AK                    263051   15935         54459   15935    137509   15935
AL                    367034   14534         85482   14534    137374   14534
AR                    263852   11800         64321   11800    120579   11800
AZ                   2220999   79880        254799   79880    661707   79880
CA                   6588537  305266        766168  305266   3642997  305266
CO                   3227977  134251        612303  134251   2015043  134251
CT                    284602   10464         29591   10464    101660   10464
FL                   6837639  290893        872371  290893   5218000  290893
GA                   3819279  121119        544571  121119   1462196  121119
HI                   1004324   42903         44123   42903    296597   42903

               SECURITY_DELAY         LATE_AIRCRAFT_DELAY
                          sum   count                 sum   count
DEST_STATE_ABR
AK                      10023   15935              355535   15935
AL                       1261   14534              392616   14534
AR                       1166   11800              333832   11800
AZ                      12960   79880             2569795   79880
CA                      37751  305266             7599428  305266
CO                      10646  134251             3765642  134251
CT                       1379   10464              301725   10464
FL                      43439  290893             8567274  290893
GA                      15084  121119             3402881  121119
HI                       4914   42903              793861   42903

In [13]:
df[df['CARRIER_DELAY'] == df['CARRIER_DELAY'].max()]

,ID,YEAR,MONTH,DAY_OF_MONTH,AIRLINE_NAME,ORIGIN_AIRPORT_NAME,ORIGIN_STATE_ABR,ORIGIN_STATE_NM,DEST_AIRPORT_NAME,DEST_STATE_ABR,...,WHEELS_ON,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
631403,631403,2023,6,5,Republic Airline,"Washington, DC: Ronald Reagan Washington National",VA,Virginia,"Jacksonville, FL: Jacksonville International",FL,...,1411,124.0,140.0,112.0,634.0,5764,0,16,0,0

In [14]:
df.loc[df.groupby('ORIGIN_STATE_ABR')['LATE_AIRCRAFT_DELAY'].idxmax()].head(5)

,ID,YEAR,MONTH,DAY_OF_MONTH,AIRLINE_NAME,ORIGIN_AIRPORT_NAME,ORIGIN_STATE_ABR,ORIGIN_STATE_NM,DEST_AIRPORT_NAME,DEST_STATE_ABR,...,WHEELS_ON,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
876264,876264,2023,7,20,American Airlines Inc.,"Anchorage, AK: Ted Stevens Anchorage Internati...",AK,Alaska,"Chicago, IL: Chicago O'Hare International",IL,...,427,369.0,353.0,333.0,2846.0,0,0,0,0,1274
2583295,2583295,2024,8,16,PSA Airlines Inc.,"Birmingham, AL: Birmingham-Shuttlesworth Inter...",AL,Alabama,"Philadelphia, PA: Philadelphia International",PA,...,1703,138.0,128.0,107.0,772.0,9,0,0,0,1457
1212684,1212684,2023,9,25,SkyWest Airlines Inc.,"Texarkana, AR: Texarkana Regional-Webb Field",AR,Arkansas,"Dallas/Fort Worth, TX: Dallas/Fort Worth Inter...",TX,...,2305,71.0,53.0,33.0,181.0,10,0,0,0,1761
829434,829434,2023,7,12,American Airlines Inc.,"Phoenix, AZ: Phoenix Sky Harbor International",AZ,Arizona,"Charlotte, NC: Charlotte Douglas International",NC,...,341,253.0,226.0,206.0,1773.0,0,0,0,0,1833
1842428,1842428,2024,3,26,American Airlines Inc.,"Los Angeles, CA: Los Angeles International",CA,California,"Dallas/Fort Worth, TX: Dallas/Fort Worth Inter...",TX,...,201,178.0,165.0,141.0,1235.0,121,0,0,0,2506

In [15]:
df.loc[df.groupby('DEST_STATE_ABR')['CARRIER_DELAY'].idxmax()].head(5)

,ID,YEAR,MONTH,DAY_OF_MONTH,AIRLINE_NAME,ORIGIN_AIRPORT_NAME,ORIGIN_STATE_ABR,ORIGIN_STATE_NM,DEST_AIRPORT_NAME,DEST_STATE_ABR,...,WHEELS_ON,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
732208,732208,2023,6,24,United Air Lines Inc.,"Newark, NJ: Newark Liberty International",NJ,New Jersey,"Anchorage, AK: Ted Stevens Anchorage Internati...",AK,...,1508,463.0,459.0,416.0,3370.0,1230,0,0,0,0
706451,706451,2023,6,20,PSA Airlines Inc.,"Dallas/Fort Worth, TX: Dallas/Fort Worth Inter...",TX,Texas,"Huntsville, AL: Huntsville International-Carl ...",AL,...,912,115.0,135.0,86.0,603.0,1089,0,20,0,0
1918096,1918096,2024,4,12,Mesa Airlines Inc.,"Denver, CO: Denver International",CO,Colorado,"Little Rock, AR: Bill and Hillary Clinton Nat ...",AR,...,1036,128.0,119.0,94.0,771.0,1089,0,0,0,0
1895292,1895292,2024,4,8,American Airlines Inc.,"San Diego, CA: San Diego International",CA,California,"Phoenix, AZ: Phoenix Sky Harbor International",AZ,...,2151,84.0,90.0,56.0,304.0,3300,0,6,0,48
82663,82663,2023,1,21,American Airlines Inc.,"Chicago, IL: Chicago O'Hare International",IL,Illinois,"Los Angeles, CA: Los Angeles International",CA,...,2300,292.0,240.0,213.0,1744.0,2078,0,0,0,0

In [16]:
print(set(df['ORIGIN_STATE_NM'].unique()) == set(df['DEST_STATE_NM'].unique()))
# df['ORIGIN_STATE_NM'].unique()

True

array(['Louisiana', 'New York', 'Georgia', 'Virginia', 'West Virginia',
       'Minnesota', 'Michigan', 'Florida', 'Mississippi',
       'North Carolina', 'Kentucky', 'Illinois', 'Maine', 'Tennessee',
       'Texas', 'California', 'Alabama', 'Idaho', 'Massachusetts',
       'Maryland', 'Montana', 'South Carolina', 'Iowa', 'Ohio',
       'Colorado', 'Oregon', 'New Jersey', 'Kansas', 'Indiana', 'Wyoming',
       'Hawaii', 'Nevada', 'Missouri', 'Wisconsin', 'Oklahoma',
       'Nebraska', 'Pennsylvania', 'Arizona', 'Rhode Island',
       'Washington', 'Puerto Rico', 'Utah', 'Alaska', 'Connecticut',
       'U.S. Virgin Islands', 'New Mexico', 'Arkansas', 'South Dakota',
       'North Dakota', 'New Hampshire',
       'U.S. Pacific Trust Territories and Possessions', 'Vermont'],
      dtype=object)

In [17]:
states = set(["Alabama", "Alaska", "Arizona", "Arkansas", "California", "Colorado", "Connecticut", "Delaware",
    "Florida", "Georgia", "Hawaii", "Idaho", "Illinois", "Indiana", "Iowa", "Kansas", "Kentucky", "Louisiana",
    "Maine", "Maryland", "Massachusetts", "Michigan", "Minnesota", "Mississippi", "Missouri", "Montana",
    "Nebraska", "Nevada", "New Hampshire", "New Jersey", "New Mexico", "New York", "North Carolina",
    "North Dakota", "Ohio", "Oklahoma", "Oregon", "Pennsylvania", "Rhode Island", "South Carolina",
    "South Dakota", "Tennessee", "Texas", "Utah", "Vermont", "Virginia", "Washington", "West Virginia",
    "Wisconsin", "Wyoming"])

In [18]:
data_states = set(df['ORIGIN_STATE_NM'].unique())
print(states.difference(data_states))
print(data_states.difference(states))
# data_states

{'Delaware'}
{'Puerto Rico', 'U.S. Pacific Trust Territories and Possessions', 'U.S. Virgin Islands'}

In [30]:
origin_airports = set(df['ORIGIN_AIRPORT_NAME'].unique())
# origin_airports
# dest_airports = set(df['DEST_AIRPORT_NAME'].unique())
# print(origin_airports.difference(dest_airports))
# print(dest_airports.difference(origin_airports))

In [32]:
airlines = set(df[AIRLINE].unique())
# airlines

In [ ]:
print((df['ORIGIN_AIRPORT_NAME'].str.split(':', expand=True)[0] != df['ORIGIN_CITY_NAME']).sum())
print((df['DEST_AIRPORT_NAME'].str.split(':', expand=True)[0] != df['DEST_CITY_NAME']).sum())

In [51]:
print((df['ORIGIN_AIRPORT_NAME'].str.split(':', expand=True)[0].str.split(', ', expand=True)[1] != df['ORIGIN_STATE_ABR']).sum())
print((df['DEST_AIRPORT_NAME'].str.split(':', expand=True)[0].str.split(', ', expand=True)[1] != df['DEST_STATE_ABR']).sum())

48090
48941

In [5]:
df = df[df['CRS_ELAPSED_TIME'] >=0]
df['DATE'] = pd.to_datetime(df[DATES].astype(str).agg('-'.join, axis=1))
df['IS_WEEKDAY'] = pd.to_datetime(df['DATE']).dt.weekday < 5
df['YR-MN'] = df[['YEAR','MONTH']].astype(str).agg('-'.join, axis=1)
# df

In [6]:
df['congestion'] = (df['TAXI_OUT'] + df['TAXI_IN']) / df['CRS_ELAPSED_TIME']
df['congestion'].describe()

count    2.916509e+06
mean     2.659119e-01
std      1.955511e-01
min      7.957560e-03
25%      1.394231e-01
50%      2.093023e-01
75%      3.277311e-01
max      2.100000e+01
Name: congestion, dtype: float64

In [7]:
df['time_deviation'] = (df['ACTUAL_ELAPSED_TIME'] - df['CRS_ELAPSED_TIME'])/df['AIR_TIME'] 
df['time_deviation'].describe()

count    2.916509e+06
mean     3.719818e-02
std      2.649219e-01
min     -2.752000e+01
25%     -9.836066e-02
50%     -2.941176e-03
75%      1.200000e-01
max      1.400000e+01
Name: time_deviation, dtype: float64

In [8]:
df['crs_speed'] = df['DISTANCE']  / df['CRS_ELAPSED_TIME']
df['actual_speed'] = df['DISTANCE'] / df['ACTUAL_ELAPSED_TIME']
df['speed_deviation'] = (df['actual_speed'] - df['crs_speed']) / df['crs_speed']
df['speed_deviation'].describe()

count    2.916509e+06
mean    -9.574260e-03
std      1.415396e-01
min     -9.827586e-01
25%     -9.000000e-02
50%      2.673797e-03
75%      7.913669e-02
max      9.555556e+00
Name: speed_deviation, dtype: float64

In [9]:
df['dep_delay_m'] = df['DEP_DELAY_NEW']
df.loc[df['dep_delay_m'] == 0, 'dep_delay_m'] = df['ACTUAL_ELAPSED_TIME'] - df['CRS_ELAPSED_TIME']
df['recovery_efficiency'] = (df['ACTUAL_ELAPSED_TIME'] - df['CRS_ELAPSED_TIME']) / df['dep_delay_m']
df['recovery_efficiency'].describe()

count    2.916506e+06
mean     6.318132e-01
std      3.188606e+00
min     -2.100000e+01
25%     -1.523810e-01
50%     -1.273885e-03
75%      5.238095e-01
max      2.150000e+02
Name: recovery_efficiency, dtype: float64

In [10]:
calc_origin_df = df[['YR-MN', 'ORIGIN_STATE_ABR','ORIGIN_AIRPORT_NAME','AIRLINE_NAME', 'IS_WEEKDAY']+['congestion', 'time_deviation','speed_deviation','recovery_efficiency']]
calc_origin_df.columns = list(map(str, range(9)))
calc_origin_df = calc_origin_df.groupby(list(map(str, range(5))))[list(map(str, range(5, 9)))].agg(['mean'])
calc_origin_df.columns = calc_origin_df.columns.get_level_values(0)
calc_origin_df

                                                                                                  5  \
0      1  2                                                  3                      4
2023-1 AK Adak Island, AK: Adak                              Alaska Airlines Inc.   False  0.115584
          Anchorage, AK: Ted Stevens Anchorage International Alaska Airlines Inc.   False  0.197400
                                                                                    True   0.183852
                                                             American Airlines Inc. True   0.111392
                                                             Delta Air Lines Inc.   False  0.152717
...                                                                                             ...
2024-9 WY Riverton/Lander, WY: Central Wyoming Regional      SkyWest Airlines Inc.  True   0.442222
          Rock Springs, WY: Southwest Wyoming Regional       SkyWest Airlines Inc.  False  0.444444
                                                                                    True   0.430556
          Sheridan, WY: Sheridan County                      SkyWest Airlines Inc.  False  0.375000
                                                                                    True   0.329545

                                                                                                  6  \
0      1  2                                                  3                      4
2023-1 AK Adak Island, AK: Adak                              Alaska Airlines Inc.   False  0.043436
          Anchorage, AK: Ted Stevens Anchorage International Alaska Airlines Inc.   False  0.087104
                                                                                    True   0.080514
                                                             American Airlines Inc. True   0.066489
                                                             Delta Air Lines Inc.   False  0.041582
...                                                                                             ...
2024-9 WY Riverton/Lander, WY: Central Wyoming Regional      SkyWest Airlines Inc.  True   0.182804
          Rock Springs, WY: Southwest Wyoming Regional       SkyWest Airlines Inc.  False  0.069767
                                                                                    True   0.079018
          Sheridan, WY: Sheridan County                      SkyWest Airlines Inc.  False  0.098631
                                                                                    True   0.025039

                                                                                                  7  \
0      1  2                                                  3                      4
2023-1 AK Adak Island, AK: Adak                              Alaska Airlines Inc.   False -0.036366
          Anchorage, AK: Ted Stevens Anchorage International Alaska Airlines Inc.   False -0.066561
                                                                                    True  -0.064808
                                                             American Airlines Inc. True  -0.059524
                                                             Delta Air Lines Inc.   False -0.033095
...                                                                                             ...
2024-9 WY Riverton/Lander, WY: Central Wyoming Regional      SkyWest Airlines Inc.  True  -0.103294
          Rock Springs, WY: Southwest Wyoming Regional       SkyWest Airlines Inc.  False -0.040000
                                                                                    True  -0.035855
          Sheridan, WY: Sheridan County                      SkyWest Airlines Inc.  False -0.027512
                                                                                    True  -0.008123

                                                                                                  8
0      1  2                                                  3                      4
2023-1 AK Adak Island, AK: Adak                              Alaska Airlines Inc.   False  2.548913
          Anchorage, AK: Ted Stevens Anchorage International Alaska Airlines Inc.   False  1.186857
                                                                                    True   1.669687
                                                             American Airlines Inc. True   0.040064
                                                             Delta Air Lines Inc.   False  1.055420
...                                                                                             ...
2024-9 WY Riverton/Lander, WY: Central Wyoming Regional      SkyWest Airlines Inc.  True   2.891755
          Rock Springs, WY: Southwest Wyoming Regional       SkyWest Airlines Inc.  False  0.038961
                                                                                    True   0.003402
          Sheridan, WY: Sheridan County                      SkyWest Airlines Inc.  False  0.482100
                                                                                    True  -0.024050

[71843 rows x 4 columns]

In [11]:
condensed_origin_df = df[['YR-MN', 'ORIGIN_STATE_ABR','ORIGIN_AIRPORT_NAME','AIRLINE_NAME', 'IS_WEEKDAY']+DELAYS]
condensed_origin_df.columns = list(map(str, range(10)))
condensed_origin_df = condensed_origin_df.groupby(list(map(str, range(5))))[list(map(str, range(5, 10)))].agg(['sum'])
condensed_origin_df.columns = condensed_origin_df.columns.get_level_values(0)
condensed_origin_df

                                                                                              5  \
0      1  2                                                  3                      4
2023-1 AK Adak Island, AK: Adak                              Alaska Airlines Inc.   False     0
          Anchorage, AK: Ted Stevens Anchorage International Alaska Airlines Inc.   False   415
                                                                                    True   1883
                                                             American Airlines Inc. True    494
                                                             Delta Air Lines Inc.   False   367
...                                                                                         ...
2024-9 WY Riverton/Lander, WY: Central Wyoming Regional      SkyWest Airlines Inc.  True    376
          Rock Springs, WY: Southwest Wyoming Regional       SkyWest Airlines Inc.  False    77
                                                                                    True    238
          Sheridan, WY: Sheridan County                      SkyWest Airlines Inc.  False   426
                                                                                    True    403

                                                                                            6  \
0      1  2                                                  3                      4
2023-1 AK Adak Island, AK: Adak                              Alaska Airlines Inc.   False   0
          Anchorage, AK: Ted Stevens Anchorage International Alaska Airlines Inc.   False   0
                                                                                    True   98
                                                             American Airlines Inc. True    0
                                                             Delta Air Lines Inc.   False  71
...                                                                                        ..
2024-9 WY Riverton/Lander, WY: Central Wyoming Regional      SkyWest Airlines Inc.  True    5
          Rock Springs, WY: Southwest Wyoming Regional       SkyWest Airlines Inc.  False   0
                                                                                    True    0
          Sheridan, WY: Sheridan County                      SkyWest Airlines Inc.  False   0
                                                                                    True    0

                                                                                              7  \
0      1  2                                                  3                      4
2023-1 AK Adak Island, AK: Adak                              Alaska Airlines Inc.   False    25
          Anchorage, AK: Ted Stevens Anchorage International Alaska Airlines Inc.   False   781
                                                                                    True   2131
                                                             American Airlines Inc. True     25
                                                             Delta Air Lines Inc.   False   133
...                                                                                         ...
2024-9 WY Riverton/Lander, WY: Central Wyoming Regional      SkyWest Airlines Inc.  True     59
          Rock Springs, WY: Southwest Wyoming Regional       SkyWest Airlines Inc.  False     3
                                                                                    True     26
          Sheridan, WY: Sheridan County                      SkyWest Airlines Inc.  False     0
                                                                                    True     17

                                                                                            8  \
0      1  2                                                  3                      4
2023-1 AK Adak Island, AK: Adak                              Alaska Airlines Inc.   False  39
          Anchorage, AK: Ted Stevens Anchorage International Alaska Airlines Inc.   False   0
                                                                                    True    0
                                                             American Airlines Inc. True    0
                                                             Delta Air Lines Inc.   False   0
...                                                                                        ..
2024-9 WY Riverton/Lander, WY: Central Wyoming Regional      SkyWest Airlines Inc.  True    0
          Rock Springs, WY: Southwest Wyoming Regional       SkyWest Airlines Inc.  False   0
                                                                                    True    0
          Sheridan, WY: Sheridan County                      SkyWest Airlines Inc.  False   0
                                                                                    True    0

                                                                                              9
0      1  2                                                  3                      4
2023-1 AK Adak Island, AK: Adak                              Alaska Airlines Inc.   False     0
          Anchorage, AK: Ted Stevens Anchorage International Alaska Airlines Inc.   False   346
                                                                                    True   1250
                                                             American Airlines Inc. True    130
                                                             Delta Air Lines Inc.   False   154
...                                                                                         ...
2024-9 WY Riverton/Lander, WY: Central Wyoming Regional      SkyWest Airlines Inc.  True    321
          Rock Springs, WY: Southwest Wyoming Regional       SkyWest Airlines Inc.  False     0
                                                                                    True    125
          Sheridan, WY: Sheridan County                      SkyWest Airlines Inc.  False     0
                                                                                    True      0

[71843 rows x 5 columns]

In [14]:
# df[(df['ORIGIN_STATE_ABR'] == 'AK') & (df['ORIGIN_AIRPORT_NAME'] == 'Anchorage, AK: Ted Stevens Anchorage International') & (df['AIRLINE_NAME'] == 'Delta Air Lines Inc.') & (df['MONTH'] == 1) & (df['IS_WEEKDAY'] == False) & (df['YEAR'] == 2023)]

In [13]:
condensed_origin_df[list(map(str, range(10, 14)))] = calc_origin_df[list(map(str, range(5, 9)))]
condensed_origin_df

                                                                                              5  \
0      1  2                                                  3                      4
2023-1 AK Adak Island, AK: Adak                              Alaska Airlines Inc.   False     0
          Anchorage, AK: Ted Stevens Anchorage International Alaska Airlines Inc.   False   415
                                                                                    True   1883
                                                             American Airlines Inc. True    494
                                                             Delta Air Lines Inc.   False   367
...                                                                                         ...
2024-9 WY Riverton/Lander, WY: Central Wyoming Regional      SkyWest Airlines Inc.  True    376
          Rock Springs, WY: Southwest Wyoming Regional       SkyWest Airlines Inc.  False    77
                                                                                    True    238
          Sheridan, WY: Sheridan County                      SkyWest Airlines Inc.  False   426
                                                                                    True    403

                                                                                            6  \
0      1  2                                                  3                      4
2023-1 AK Adak Island, AK: Adak                              Alaska Airlines Inc.   False   0
          Anchorage, AK: Ted Stevens Anchorage International Alaska Airlines Inc.   False   0
                                                                                    True   98
                                                             American Airlines Inc. True    0
                                                             Delta Air Lines Inc.   False  71
...                                                                                        ..
2024-9 WY Riverton/Lander, WY: Central Wyoming Regional      SkyWest Airlines Inc.  True    5
          Rock Springs, WY: Southwest Wyoming Regional       SkyWest Airlines Inc.  False   0
                                                                                    True    0
          Sheridan, WY: Sheridan County                      SkyWest Airlines Inc.  False   0
                                                                                    True    0

                                                                                              7  \
0      1  2                                                  3                      4
2023-1 AK Adak Island, AK: Adak                              Alaska Airlines Inc.   False    25
          Anchorage, AK: Ted Stevens Anchorage International Alaska Airlines Inc.   False   781
                                                                                    True   2131
                                                             American Airlines Inc. True     25
                                                             Delta Air Lines Inc.   False   133
...                                                                                         ...
2024-9 WY Riverton/Lander, WY: Central Wyoming Regional      SkyWest Airlines Inc.  True     59
          Rock Springs, WY: Southwest Wyoming Regional       SkyWest Airlines Inc.  False     3
                                                                                    True     26
          Sheridan, WY: Sheridan County                      SkyWest Airlines Inc.  False     0
                                                                                    True     17

                                                                                            8  \
0      1  2                                                  3                      4
2023-1 AK Adak Island, AK: Adak                              Alaska Airlines Inc.   False  39
          Anchorage, AK: Ted Stevens Anchorage International Alaska Airlines Inc.   False   0
                                                                                    True    0
                                                             American Airlines Inc. True    0
                                                             Delta Air Lines Inc.   False   0
...                                                                                        ..
2024-9 WY Riverton/Lander, WY: Central Wyoming Regional      SkyWest Airlines Inc.  True    0
          Rock Springs, WY: Southwest Wyoming Regional       SkyWest Airlines Inc.  False   0
                                                                                    True    0
          Sheridan, WY: Sheridan County                      SkyWest Airlines Inc.  False   0
                                                                                    True    0

                                                                                              9  \
0      1  2                                                  3                      4
2023-1 AK Adak Island, AK: Adak                              Alaska Airlines Inc.   False     0
          Anchorage, AK: Ted Stevens Anchorage International Alaska Airlines Inc.   False   346
                                                                                    True   1250
                                                             American Airlines Inc. True    130
                                                             Delta Air Lines Inc.   False   154
...                                                                                         ...
2024-9 WY Riverton/Lander, WY: Central Wyoming Regional      SkyWest Airlines Inc.  True    321
          Rock Springs, WY: Southwest Wyoming Regional       SkyWest Airlines Inc.  False     0
                                                                                    True    125
          Sheridan, WY: Sheridan County                      SkyWest Airlines Inc.  False     0
                                                                                    True      0

                                                                                                 10  \
0      1  2                                                  3                      4
2023-1 AK Adak Island, AK: Adak                              Alaska Airlines Inc.   False  0.115584
          Anchorage, AK: Ted Stevens Anchorage International Alaska Airlines Inc.   False  0.197400
                                                                                    True   0.183852
                                                             American Airlines Inc. True   0.111392
                                                             Delta Air Lines Inc.   False  0.152717
...                                                                                             ...
2024-9 WY Riverton/Lander, WY: Central Wyoming Regional      SkyWest Airlines Inc.  True   0.442222
          Rock Springs, WY: Southwest Wyoming Regional       SkyWest Airlines Inc.  False  0.444444
                                                                                    True   0.430556
          Sheridan, WY: Sheridan County                      SkyWest Airlines Inc.  False  0.375000
                                                                                    True   0.329545

                                                                                                 11  \
0      1  2                                                  3                      4
2023-1 AK Adak Island, AK: Adak                              Alaska Airlines Inc.   False  0.043436
          Anchorage, AK: Ted Stevens Anchorage International Alaska Airlines Inc.   False  0.087104
                                                                                    True   0.080514
                                                             American Airlines Inc. True   0.066489
                                                             Delta Air Lines Inc.   False  0.041582
...                                                                                             ...
2024-9 WY Riverton/Lander, WY: Central Wyoming Regional      SkyWest Airlines Inc.  True   0.182804
          Rock Springs, WY: Southwest Wyoming Regional       SkyWest Airlines Inc.  False  0.069767
                                                                                    True   0.079018
          Sheridan, WY: Sheridan County                      SkyWest Airlines Inc.  False  0.098631
                                                                                    True   0.025039

                                                                                                 12  \
0      1  2                                                  3                      4
2023-1 AK Adak Island, AK: Adak                              Alaska Airlines Inc.   False -0.036366
          Anchorage, AK: Ted Stevens Anchorage International Alaska Airlines Inc.   False -0.066561
                                                                                    True  -0.064808
                                                             American Airlines Inc. True  -0.059524
                                                             Delta Air Lines Inc.   False -0.033095
...                                                                                             ...
2024-9 WY Riverton/Lander, WY: Central Wyoming Regional      SkyWest Airlines Inc.  True  -0.103294
          Rock Springs, WY: Southwest Wyoming Regional       SkyWest Airlines Inc.  False -0.040000
                                                                                    True  -0.035855
          Sheridan, WY: Sheridan County                      SkyWest Airlines Inc.  False -0.027512
                                                                                    True  -0.008123

                                                                                                 13
0      1  2                                                  3                      4
2023-1 AK Adak Island, AK: Adak                              Alaska Airlines Inc.   False  2.548913
          Anchorage, AK: Ted Stevens Anchorage International Alaska Airlines Inc.   False  1.186857
                                                                                    True   1.669687
                                                             American Airlines Inc. True   0.040064
                                                             Delta Air Lines Inc.   False  1.055420
...                                                                                             ...
2024-9 WY Riverton/Lander, WY: Central Wyoming Regional      SkyWest Airlines Inc.  True   2.891755
          Rock Springs, WY: Southwest Wyoming Regional       SkyWest Airlines Inc.  False  0.038961
                                                                                    True   0.003402
          Sheridan, WY: Sheridan County                      SkyWest Airlines Inc.  False  0.482100
                                                                                    True  -0.024050

[71843 rows x 9 columns]

In [15]:
# condensed_origin_df.to_json('assets/origin_summerized.json', orient='table')

In [16]:
calc_dest_df = df[['YR-MN', 'DEST_STATE_ABR','DEST_AIRPORT_NAME','AIRLINE_NAME', 'IS_WEEKDAY']+['congestion', 'time_deviation','speed_deviation','recovery_efficiency']]
calc_dest_df.columns = list(map(str, range(9)))
calc_dest_df = calc_dest_df.groupby(list(map(str, range(5))))[list(map(str, range(5, 9)))].agg(['mean'])
calc_dest_df.columns = calc_dest_df.columns.get_level_values(0)
calc_dest_df

                                                                                                  5  \
0      1  2                                                  3                      4
2023-1 AK Anchorage, AK: Ted Stevens Anchorage International Alaska Airlines Inc.   False  0.186533
                                                                                    True   0.168211
                                                             American Airlines Inc. True   0.062954
                                                             Delta Air Lines Inc.   False  0.138659
                                                                                    True   0.105553
...                                                                                             ...
2024-9 WY Riverton/Lander, WY: Central Wyoming Regional      SkyWest Airlines Inc.  True   0.306577
          Rock Springs, WY: Southwest Wyoming Regional       SkyWest Airlines Inc.  False  0.408451
                                                                                    True   0.318429
          Sheridan, WY: Sheridan County                      SkyWest Airlines Inc.  False  0.258105
                                                                                    True   0.335441

                                                                                                  6  \
0      1  2                                                  3                      4
2023-1 AK Anchorage, AK: Ted Stevens Anchorage International Alaska Airlines Inc.   False  0.075723
                                                                                    True   0.042931
                                                             American Airlines Inc. True  -0.005195
                                                             Delta Air Lines Inc.   False  0.057425
                                                                                    True  -0.016721
...                                                                                             ...
2024-9 WY Riverton/Lander, WY: Central Wyoming Regional      SkyWest Airlines Inc.  True  -0.049083
          Rock Springs, WY: Southwest Wyoming Regional       SkyWest Airlines Inc.  False -0.076923
                                                                                    True  -0.079519
          Sheridan, WY: Sheridan County                      SkyWest Airlines Inc.  False -0.084469
                                                                                    True   0.107009

                                                                                                  7  \
0      1  2                                                  3                      4
2023-1 AK Anchorage, AK: Ted Stevens Anchorage International Alaska Airlines Inc.   False -0.045453
                                                                                    True  -0.025041
                                                             American Airlines Inc. True   0.004866
                                                             Delta Air Lines Inc.   False -0.048422
                                                                                    True   0.015263
...                                                                                             ...
2024-9 WY Riverton/Lander, WY: Central Wyoming Regional      SkyWest Airlines Inc.  True   0.034815
          Rock Springs, WY: Southwest Wyoming Regional       SkyWest Airlines Inc.  False  0.044118
                                                                                    True   0.060322
          Sheridan, WY: Sheridan County                      SkyWest Airlines Inc.  False  0.061132
                                                                                    True  -0.077589

                                                                                                  8
0      1  2                                                  3                      4
2023-1 AK Anchorage, AK: Ted Stevens Anchorage International Alaska Airlines Inc.   False  1.877451
                                                                                    True   1.145076
                                                             American Airlines Inc. True  -0.015152
                                                             Delta Air Lines Inc.   False  1.276785
                                                                                    True  -0.003760
...                                                                                             ...
2024-9 WY Riverton/Lander, WY: Central Wyoming Regional      SkyWest Airlines Inc.  True  -0.034908
          Rock Springs, WY: Southwest Wyoming Regional       SkyWest Airlines Inc.  False -0.027273
                                                                                    True   0.019816
          Sheridan, WY: Sheridan County                      SkyWest Airlines Inc.  False -0.090878
                                                                                    True   0.587229

[71648 rows x 4 columns]

In [18]:
condensed_dest_df = df[['YR-MN', 'DEST_STATE_ABR','DEST_AIRPORT_NAME','AIRLINE_NAME', 'IS_WEEKDAY']+DELAYS]
condensed_dest_df.columns = list(map(str, range(10)))
condensed_dest_df = condensed_dest_df.groupby(list(map(str, range(5))))[list(map(str, range(5, 10)))].agg(['sum'])
condensed_dest_df.columns = condensed_dest_df.columns.get_level_values(0)
condensed_dest_df

                                                                                              5  \
0      1  2                                                  3                      4
2023-1 AK Anchorage, AK: Ted Stevens Anchorage International Alaska Airlines Inc.   False   527
                                                                                    True   1555
                                                             American Airlines Inc. True     21
                                                             Delta Air Lines Inc.   False   212
                                                                                    True    232
...                                                                                         ...
2024-9 WY Riverton/Lander, WY: Central Wyoming Regional      SkyWest Airlines Inc.  True    103
          Rock Springs, WY: Southwest Wyoming Regional       SkyWest Airlines Inc.  False   107
                                                                                    True    297
          Sheridan, WY: Sheridan County                      SkyWest Airlines Inc.  False    53
                                                                                    True    177

                                                                                             6  \
0      1  2                                                  3                      4
2023-1 AK Anchorage, AK: Ted Stevens Anchorage International Alaska Airlines Inc.   False   64
                                                                                    True   184
                                                             American Airlines Inc. True     0
                                                             Delta Air Lines Inc.   False    0
                                                                                    True     0
...                                                                                        ...
2024-9 WY Riverton/Lander, WY: Central Wyoming Regional      SkyWest Airlines Inc.  True    60
          Rock Springs, WY: Southwest Wyoming Regional       SkyWest Airlines Inc.  False    0
                                                                                    True     0
          Sheridan, WY: Sheridan County                      SkyWest Airlines Inc.  False    0
                                                                                    True     0

                                                                                              7  \
0      1  2                                                  3                      4
2023-1 AK Anchorage, AK: Ted Stevens Anchorage International Alaska Airlines Inc.   False   711
                                                                                    True   1296
                                                             American Airlines Inc. True      0
                                                             Delta Air Lines Inc.   False   100
                                                                                    True     39
...                                                                                         ...
2024-9 WY Riverton/Lander, WY: Central Wyoming Regional      SkyWest Airlines Inc.  True      3
          Rock Springs, WY: Southwest Wyoming Regional       SkyWest Airlines Inc.  False     0
                                                                                    True      0
          Sheridan, WY: Sheridan County                      SkyWest Airlines Inc.  False     0
                                                                                    True     30

                                                                                            8  \
0      1  2                                                  3                      4
2023-1 AK Anchorage, AK: Ted Stevens Anchorage International Alaska Airlines Inc.   False  67
                                                                                    True   80
                                                             American Airlines Inc. True    0
                                                             Delta Air Lines Inc.   False   0
                                                                                    True    0
...                                                                                        ..
2024-9 WY Riverton/Lander, WY: Central Wyoming Regional      SkyWest Airlines Inc.  True    0
          Rock Springs, WY: Southwest Wyoming Regional       SkyWest Airlines Inc.  False   0
                                                                                    True    0
          Sheridan, WY: Sheridan County                      SkyWest Airlines Inc.  False   0
                                                                                    True    0

                                                                                              9
0      1  2                                                  3                      4
2023-1 AK Anchorage, AK: Ted Stevens Anchorage International Alaska Airlines Inc.   False   761
                                                                                    True   2238
                                                             American Airlines Inc. True    109
                                                             Delta Air Lines Inc.   False     6
                                                                                    True     77
...                                                                                         ...
2024-9 WY Riverton/Lander, WY: Central Wyoming Regional      SkyWest Airlines Inc.  True    721
          Rock Springs, WY: Southwest Wyoming Regional       SkyWest Airlines Inc.  False     0
                                                                                    True    241
          Sheridan, WY: Sheridan County                      SkyWest Airlines Inc.  False   226
                                                                                    True      0

[71648 rows x 5 columns]

In [19]:
condensed_dest_df[list(map(str, range(10, 14)))] = calc_dest_df[list(map(str, range(5, 9)))]
condensed_dest_df

                                                                                              5  \
0      1  2                                                  3                      4
2023-1 AK Anchorage, AK: Ted Stevens Anchorage International Alaska Airlines Inc.   False   527
                                                                                    True   1555
                                                             American Airlines Inc. True     21
                                                             Delta Air Lines Inc.   False   212
                                                                                    True    232
...                                                                                         ...
2024-9 WY Riverton/Lander, WY: Central Wyoming Regional      SkyWest Airlines Inc.  True    103
          Rock Springs, WY: Southwest Wyoming Regional       SkyWest Airlines Inc.  False   107
                                                                                    True    297
          Sheridan, WY: Sheridan County                      SkyWest Airlines Inc.  False    53
                                                                                    True    177

                                                                                             6  \
0      1  2                                                  3                      4
2023-1 AK Anchorage, AK: Ted Stevens Anchorage International Alaska Airlines Inc.   False   64
                                                                                    True   184
                                                             American Airlines Inc. True     0
                                                             Delta Air Lines Inc.   False    0
                                                                                    True     0
...                                                                                        ...
2024-9 WY Riverton/Lander, WY: Central Wyoming Regional      SkyWest Airlines Inc.  True    60
          Rock Springs, WY: Southwest Wyoming Regional       SkyWest Airlines Inc.  False    0
                                                                                    True     0
          Sheridan, WY: Sheridan County                      SkyWest Airlines Inc.  False    0
                                                                                    True     0

                                                                                              7  \
0      1  2                                                  3                      4
2023-1 AK Anchorage, AK: Ted Stevens Anchorage International Alaska Airlines Inc.   False   711
                                                                                    True   1296
                                                             American Airlines Inc. True      0
                                                             Delta Air Lines Inc.   False   100
                                                                                    True     39
...                                                                                         ...
2024-9 WY Riverton/Lander, WY: Central Wyoming Regional      SkyWest Airlines Inc.  True      3
          Rock Springs, WY: Southwest Wyoming Regional       SkyWest Airlines Inc.  False     0
                                                                                    True      0
          Sheridan, WY: Sheridan County                      SkyWest Airlines Inc.  False     0
                                                                                    True     30

                                                                                            8  \
0      1  2                                                  3                      4
2023-1 AK Anchorage, AK: Ted Stevens Anchorage International Alaska Airlines Inc.   False  67
                                                                                    True   80
                                                             American Airlines Inc. True    0
                                                             Delta Air Lines Inc.   False   0
                                                                                    True    0
...                                                                                        ..
2024-9 WY Riverton/Lander, WY: Central Wyoming Regional      SkyWest Airlines Inc.  True    0
          Rock Springs, WY: Southwest Wyoming Regional       SkyWest Airlines Inc.  False   0
                                                                                    True    0
          Sheridan, WY: Sheridan County                      SkyWest Airlines Inc.  False   0
                                                                                    True    0

                                                                                              9  \
0      1  2                                                  3                      4
2023-1 AK Anchorage, AK: Ted Stevens Anchorage International Alaska Airlines Inc.   False   761
                                                                                    True   2238
                                                             American Airlines Inc. True    109
                                                             Delta Air Lines Inc.   False     6
                                                                                    True     77
...                                                                                         ...
2024-9 WY Riverton/Lander, WY: Central Wyoming Regional      SkyWest Airlines Inc.  True    721
          Rock Springs, WY: Southwest Wyoming Regional       SkyWest Airlines Inc.  False     0
                                                                                    True    241
          Sheridan, WY: Sheridan County                      SkyWest Airlines Inc.  False   226
                                                                                    True      0

                                                                                                 10  \
0      1  2                                                  3                      4
2023-1 AK Anchorage, AK: Ted Stevens Anchorage International Alaska Airlines Inc.   False  0.186533
                                                                                    True   0.168211
                                                             American Airlines Inc. True   0.062954
                                                             Delta Air Lines Inc.   False  0.138659
                                                                                    True   0.105553
...                                                                                             ...
2024-9 WY Riverton/Lander, WY: Central Wyoming Regional      SkyWest Airlines Inc.  True   0.306577
          Rock Springs, WY: Southwest Wyoming Regional       SkyWest Airlines Inc.  False  0.408451
                                                                                    True   0.318429
          Sheridan, WY: Sheridan County                      SkyWest Airlines Inc.  False  0.258105
                                                                                    True   0.335441

                                                                                                 11  \
0      1  2                                                  3                      4
2023-1 AK Anchorage, AK: Ted Stevens Anchorage International Alaska Airlines Inc.   False  0.075723
                                                                                    True   0.042931
                                                             American Airlines Inc. True  -0.005195
                                                             Delta Air Lines Inc.   False  0.057425
                                                                                    True  -0.016721
...                                                                                             ...
2024-9 WY Riverton/Lander, WY: Central Wyoming Regional      SkyWest Airlines Inc.  True  -0.049083
          Rock Springs, WY: Southwest Wyoming Regional       SkyWest Airlines Inc.  False -0.076923
                                                                                    True  -0.079519
          Sheridan, WY: Sheridan County                      SkyWest Airlines Inc.  False -0.084469
                                                                                    True   0.107009

                                                                                                 12  \
0      1  2                                                  3                      4
2023-1 AK Anchorage, AK: Ted Stevens Anchorage International Alaska Airlines Inc.   False -0.045453
                                                                                    True  -0.025041
                                                             American Airlines Inc. True   0.004866
                                                             Delta Air Lines Inc.   False -0.048422
                                                                                    True   0.015263
...                                                                                             ...
2024-9 WY Riverton/Lander, WY: Central Wyoming Regional      SkyWest Airlines Inc.  True   0.034815
          Rock Springs, WY: Southwest Wyoming Regional       SkyWest Airlines Inc.  False  0.044118
                                                                                    True   0.060322
          Sheridan, WY: Sheridan County                      SkyWest Airlines Inc.  False  0.061132
                                                                                    True  -0.077589

                                                                                                 13
0      1  2                                                  3                      4
2023-1 AK Anchorage, AK: Ted Stevens Anchorage International Alaska Airlines Inc.   False  1.877451
                                                                                    True   1.145076
                                                             American Airlines Inc. True  -0.015152
                                                             Delta Air Lines Inc.   False  1.276785
                                                                                    True  -0.003760
...                                                                                             ...
2024-9 WY Riverton/Lander, WY: Central Wyoming Regional      SkyWest Airlines Inc.  True  -0.034908
          Rock Springs, WY: Southwest Wyoming Regional       SkyWest Airlines Inc.  False -0.027273
                                                                                    True   0.019816
          Sheridan, WY: Sheridan County                      SkyWest Airlines Inc.  False -0.090878
                                                                                    True   0.587229

[71648 rows x 9 columns]

In [20]:
# condensed_dest_df.to_json('assets/dest_summerized.json', orient='table')

In [21]:
with open('assets/origin_summerized.json', 'r') as file:
    origin_data = json.load(file)

with open('assets/dest_summerized.json', 'r') as file:
    dest_data = json.load(file)

In [22]:
summerized_data = {"origin": origin_data["data"], "dest": dest_data["data"]}

In [23]:
with open('assets/all_summerized.json', 'w') as file:
    json.dump(summerized_data, file)

In [24]:
with open('assets/all_summerized.json', 'r') as file:
    all_data = json.load(file)

In [25]:
print(len(all_data['origin']), len(origin_data['data']))
print(all_data['origin'] == origin_data["data"])

71843 71843
True

In [26]:
print(len(all_data['dest']), len(dest_data['data']))
print(all_data['dest'] == dest_data["data"])

71648 71648
True

### State Calculations

In [ ]:
## Derive Morning & Night from scheduled time
## Check if can be done in the js